target/
Cargo.lock
.vscode
*.bonsaidb
*.bonsaidb.backup
*.profraw
*.profdata
coverage/
*.folded
perf.data
perf.data.old
flamegraph.svg
.env
*.sqlite3*
benchmarks/commerce-bench/
crates/bonsaidb-macros/expanded.rs