name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2

      - name: Run benchmarks
        run: |
          cargo bench

      - name: Deploy Docs
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: target/criterion/
          git-config-name: kl-botsu
          git-config-email: botsu@khonsulabs.com
          target-folder: /benchmarks/
          clean: true
